.header{
	color: white;
	background-color: black
	font-size: 60;
	text-align: center;
}



h1 {
    text-align: left;
}

h3 {
    text-align: left;
}

p {
	text-align: left;
	font-weight: normal;
	font-size: 20px
}